{{#section 'js_login'}}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;
                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
      
    </script>
{{/section}}


<div class="has-text-centered">

    <div class="column is-4 is-inline-block box my-5">
        <form method="post" id="frmLogin">
            <div class="card-header-title is-inline-block is-size-4-tablet is-size-4-mobile">ĐĂNG NHẬP</div>

            {{#if this.errMessage}}
                <div class="notification is-warning">
                    <button class="delete"></button>
                    <strong>Đăng nhập thất bại, </strong>{{errMessage}}
                </div>
            {{/if}}

            <div class="field has-text-left">
                <label class="label" for="txtUsername">Tài khoản</label>
                <div class="control has-icons-left has-icons-right ">
                    <input
                            class="input"
                            type="text"
                            placeholder="Nhập tài khoản"
                            id="txtUsername"
                            name="email"
                    />

                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>

                    <span class="icon is-small is-right">
<!--                  <i class="fas fa-check"></i>-->
                    </span>
                </div>
            </div>

            <div class="field has-text-left">
                <label class="label">Mật khẩu</label>
                <div class="control has-icons-left has-icons-right">
                    <input
                            class="input"
                            type="password"
                            placeholder="Nhập mật khẩu"
                            vid="txtPassword"
                            name="password"
                    />
                    <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                    <span class="icon is-small is-right">
<!--                  <i class="fa fa-exclamation-triangle"></i>-->
                </span>
                </div>
                <p class="help is-danger is-hidden" id="check-account">Sai tài khoản hoặc mật khẩu</p>
            </div>
            
            <div class="field is-grouped is-justify-content-center mt-4">
                <div class="control">
                    <button class="button is-link is-success is-medium">Đăng nhập</button>
                </div>
            </div>
        </form>
    </div>
</div>