{{#section 'js_changePassword'}}
    <script>
        $('#frmChangePass').on('submit', function (e) {
            e.preventDefault();
            const password = $('#txtPassword').val();
            const newPassword = $('#txtNewPassword').val();
            const newPasswordConfirm = $('#txtNewPasswordConfirm').val();
            $.getJSON(`/account/is-password?password=${password}`, function (data) {
                if (data === false) {
                    if ($('#check-password').hasClass("is-hidden")) {
                        $('#check-password').removeClass("is-hidden");
                    }
                    return;
                } else {
                    if (!$('#check-password').hasClass("is-hidden")){
                        $('#check-password').toggleClass("is-hidden");
                    }
                }
                if (newPassword !== newPasswordConfirm) {
                    if ($('#check-passConfirm').hasClass("is-hidden")) {
                        $('#check-passConfirm').removeClass("is-hidden");
                    }
                    return;
                }
                if (password && newPassword && newPasswordConfirm){
                    $('#frmChangePass').off('submit').submit();
                } else {
                    $('.check-info').removeClass('is-hidden');
                }
            });
        });
    </script>
{{/section}}
<form id="frmChangePass" method="post">
    <div class="has-text-centered">
        <div class="column is-4 is-inline-block box my-5">
            <div class="notification is-warning is-hidden check-info">
                <strong>Vui lòng điền đầy đủ thông tin</strong>
            </div>
            <div class="card-header-title is-inline-block is-size-4-tablet is-size-4-mobile">ĐỔI MẬT KHẨU</div>
            <div class="field has-text-left">
                <label class="label">Mật khẩu cũ</label>
                <div class="control">
                    <input class="input" id="txtPassword" type="password"/>
                </div>
                <p class="help is-danger is-hidden" id="check-password">Sai mật khẩu</p>
            </div>
            <div class="field has-text-left">
                <label class="label">Mật khẩu mới</label>
                <div class="control">
                    <input class="input" id="txtNewPassword" name="newPass" type="password"/>
                </div>
            </div>
            <div class="field has-text-left">
                <label class="label">Nhập lại mât khẩu mới</label>
                <div class="control">
                    <input class="input" id="txtNewPasswordConfirm" type="password"/>
                </div>
                <p class="help is-danger is-hidden" id="check-passConfirm">Mật khẩu không trùng khớp</p>
            </div>

            <div class="field is-grouped is-justify-content-center mt-5">
                <div class="control">
                    <button type="submit" class="button is-link has-background-danger-dark" >Đổi mật khẩu</button>
                </div>
                <div class="control">
                    <a class="button is-link is-dark" href="/info/reviewProfile" type="button">
                        Hủy
                    </a>
                </div>
            </div>
        </div>

    </div>
</form>