<footer class="footer">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half-mobile is-one-quarter-desktop">
                <figure class="image is-96x96">
                    <img src="/public/logo/logo-512.png">
                </figure>
                <strong>Web Ecommerce Huimitu</strong>
                <p>
                   Web dành cho admin</p>
            </div>


            <div class="column is-half-mobile is-one-quarter-desktop">
                <h6 class="title is-5">Thông tin chung</h6>
                <p class="is-size-6"><a href="/terms">Điều khoản sử dụng</a></p>
                <br>
                <h6 class="title is-5">Về chúng tôi:</h6>
                <strong>Nhóm 9</strong>
                <address>
                    Ho Chi Minh City, Viet Nam<br>
                    <i class="fas fa-fw fa-envelope"></i><a href="mailto: info@domain"> huimitu.corporation@gmail.com</a>
                </address>
            </div>
            <div class="column is-half-mobile is-one-quarter-desktop">

                <h6 class="title is-5">Theo dõi chúng tôi:</h6>
                <ul>
                    <li><a href="https://www.facebook.com/us.vnuhcm/"><i class="fab fa-fw fa-facebook mr-2"></i>Facebook</a></li>
                    <li><a href="https://www.youtube.com/c/FITHCMUSOfficial"><i class="fab fa-fw fa-youtube mr-2"></i>Youtube</a></li>
                </ul>
            </div>

            <div class="column is-half-mobile is-one-quarter-desktop" style="overflow: auto" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.630773293551!2d106.67998301474876!3d10.762912992330719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIC0gxJDhuqFpIGjhu41jIFF14buRYyBnaWEgVFAuSENN!5e0!3m2!1svi!2s!4v1641658251544!5m2!1svi!2s" width="300" height="250" style="border:1;" allowfullscreen="" loading="lazy"></iframe>
            </div>


        </div>
        <p class="has-text-centered">&copy; 2022 Team 9. All rights reserved.</p>
    </div>
</footer>