<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Điều khoản dịch vụ</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
</head>
<body>
<section class="hero is-medium is-info">
    <div class="hero-body">
        <p class="title is-size-1">Online Auction</p>
        <p class="subtitle is-size-5">Bạn có thể tham gia đấu giá trực tuyến với chúng tôi!</p>
    </div>
</section>
<!--Terms-->
<section class="section">
    <div class="container">
        <h2 class="title has has-text-centered">
            Điều khoản sử dụng
        </h2>
        <br>
        <h6 class="subtitle is-6 has-text-grey-dark">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Các điều khoản của Online Auction (sau đây gọi là "Điều khoản Sử dụng")
                bao gồm: Phần 1 - Các hướng dẫn sử dụng cơ bản và Các chính sách dành riêng cho dịch vụ
                (bao gồm các chính sách khi sử dụng dịch vụ ở Phần 2).
                Khi bạn đăng ký tài khoản của mình ở Online Auction,
                bạn phải đồng ý với các nguyên tắc cơ bản và về các điều khoản sử dụng dành riêng cho dịch vụ.
            </p>
            <br>
            <p class="is-italic">
                Vui lòng đọc kỹ Điều khoản và Chính sách giao dịch này trước khi
                tham gia đấu giá bất kỳ sản phẩm nào trên <strong>Online Auction</strong>
            </p>
        </h6>

        <div class="content">
            <h3> <span class="is-underlined">Phần 1:</span> Hướng dẫn cơ bản</h3>
            <ol>
                <li class="is-size-5">
                    Quy tắc chung
                    <ul>
                       <li class="is-size-6">
                           Điều khoản và Điều kiện được áp dụng cho các loại người dùng:
                           <p> Tham gia đấu giá các sản phẩm được giới thiệu trên Online Auction</p>
                       </li>
                        <li class="is-size-6">
                            <p>
                                Đối tượng người dùng tiếp cận bao gồm:
                                <br> - Mọi cá nhân có đầy đủ năng lực hành vi dân sự, độ tuổi từ 15 tuổi trở lên và
                                có tài sản để thực hiện giao dịch mua hàng, hoặc có sự giám sát cả cha mẹ
                                hay người giám hộ hợp pháp.
                                <br> - Mọi cá nhân có đầy đủ năng lực hành vi dân sự, độ tuổi từ 15 tuổi trở lên và
                                có tài sản để thực hiện giao dịch mua hàng, hoặc có sự giám sát cả cha mẹ
                                hay người giám hộ hợp pháp.
                            </p>
                        </li>
                        <li class="is-size-6">
                            <p>
                                Khi đăng ký tài khoản, Người dùng phải cung cấp thông tin xác thực về bản thân
                                và cập nhật nếu có bất kỳ thay đổi nào, đồng thời có trách nhiệm bảo mật với
                                tài khoản & mật khẩu đăng nhập của mình.
                                <br>
                                Trường hợp tài khoản bị truy cập trái phép, bạn phải thông báo ngày cho chúng tôi
                                để xử lý. <strong>Online Auction</strong> không chịu trách nhiệm nào đối với
                                những thiệt hại hoặc mất mát xảy ra do Người dùng không tuân thủ theo quy định.
                            </p>
                        </li>
                    </ul>
                </li>

                <li class="is-size-5">
                    Nguyên tắc dịch vụ
                    <ul>
                        <li class="is-size-6">
                            <strong>Nguyên tắc về Email của Online Auction</strong>
                            <br>- Người dùng cần xác nhận email ngay khi đăng kí tài khoản
                            <br>- Nhận thông báo từ Online Auction: Với mỗi giao dịch quan trọng,
                                hệ thống gửi email cho các bên liên quan nhằm thông báo đến bạn
                                về những thông tin sản phẩm bạn đang quan tâm
                        </li>

                        <li class="is-size-6">
                            <strong>Nguyên tắc về Đấu giá của Online Auction</strong>
                            <br>
                            Hệ thống hỗ trợ đấu giá tự động, giúp người mua có thể
                            thắng được sản phẩm đấu giá với giá thấp nhất có thể

                            <br> &nbsp;&nbsp;&nbsp;&nbsp;
                            -  Người mua ra <strong>giá-tối-đa</strong> mà mình có thể trả cho sản phẩm
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;
                            -  Giá hiện tại của sản phẩm sẽ liên tục được cập nhật dựa trên <strong>giá-tối-đa</strong>
                            và <strong>giá-tối-đa-của-người-mua-khác</strong>
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;
                            -  Nếu hai bidder ra cùng mức giá, bidder ra giá trước được ghi nhận là <strong>người-ra-giá-cao-nhất</strong>
                        </li>
                    </ul>
                </li>
            </ol>

            <h3><span class="is-underlined">Phần 2:</span> Chính sách quyền riêng tư</h3>
            <p>
                Chính sách cơ bản (chính sách bảo mật) khi chúng tôi xử lý thông tin liên quan đến quyền riêng tư
                của khách hàng, đối tác kinh doanh và tất cả người dùng như sau.
            </p>
            <p>
                Chính sách bảo mật này áp dụng cho tất cả các thông tin do Online Auction xử lý có thể trực tiếp
                hoặc gián tiếp nhận dạng khách hàng, v.v. với tư cách cá nhân (sau đây gọi là "dữ liệu cá nhân").
            </p>

            <ol>
                <li>
                    <strong>Thu thập dữ liệu cá nhân</strong>
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;
                    Chúng tôi sẽ thu thập dữ liệu cá nhân khi bạn đăng ký tài khoản trên hệ thống.
                </li>

                <li>
                    <strong>Mục đích sử dụng dữ liệu cá nhân</strong>
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;
                    Chúng tôi sử dụng dữ liệu cá nhân để thực hiện những việc sau: Điều này bao gồm các
                    trường hợp cookie và các số nhận dạng khác nhau được liên kết, quản lý và sử dụng.

                    <ul>
                        <li>
                            <p>
                                Để giới thiệu các sản phẩm phù hợp với khách hàng của chúng tôi, v.v.
                            </p>
                        </li>

                        <li>
                            <p>
                                Đối với việc phân phối sản phẩm, thanh toán, điểm đánh giá, v.v.
                            </p>
                        </li>

                        <li>
                            <p>
                                Để thông báo cho khách hàng về các dịch vụ của chúng tôi và các đối tác của chúng tôi
                            </p>
                        </li>

                        <li>
                            <p>
                                Để đảm bảo cung cấp các dịch vụ của chúng tôi một cách an toàn.
                                Điều này bao gồm việc tìm kiếm những khách hàng vi phạm Điều khoản dịch vụ
                                và thông báo cho họ, điều tra, phát hiện và ngăn chặn các hoạt động gian lận như
                                gian lận và truy cập trái phép các dịch vụ lạm dụng, v.v.
                            </p>
                        </li>

                        <li>
                            <p>
                                Để cải thiện dịch vụ và xem xét phát triển dịch vụ mới của chúng tôi
                            </p>
                        </li>

                        <li>
                            <p>
                                Để điều tra và phân tích tình trạng sử dụng các dịch vụ của chúng tôi, v.v.
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Đồng ý cung cấp dữ liệu cá nhân</strong>
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;
                    Ngoài những trường hợp được pháp luật cho phép, chúng tôi sẽ cung cấp dữ liệu cá nhân
                    cho bên thứ ba như đối tác, người bán khi được sự đồng ý của người mua...
                    Tuy nhiên, trong các trường hợp sau, chúng tôi sẽ cung cấp dữ liệu cá nhân
                    cho bên thứ ba trong phạm vi cần thiết:

                    <ul>
                        <li>
                            <p>Khi cần thiết để cung cấp dịch vụ của chúng tôi, v.v.</p>
                        </li>

                        <li>
                            <p>Khi cần thiết để cải thiện chất lượng dịch vụ của chúng tôi, v.v.</p>
                        </li>

                        <li>
                            <p>Khi cần thiết để xem xét các dịch vụ mới của chúng tôi, v.v.</p>
                        </li>

                        <li>
                            <p>Khi cung cấp thông tin liên hệ cho đối tác nhằm liên lạc với người mua sản phẩm</p>
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Về bảo mật</strong>
                    <p>
                        Chúng tôi sẽ xử lý dữ liệu cá nhân một cách thích hợp theo luật và quy định
                        liên quan đến việc bảo vệ thông tin cá nhân và chính sách bảo mật này.
                        Để xử lý dữ liệu cá nhân một cách thích hợp, chúng tôi sẽ thiết lập các quy tắc và
                        tổ chức nội bộ để đảm bảo an toàn cho hệ thống thông tin xử lý dữ liệu cá nhân.
                    </p>
                    <p>
                        Ngoài ra, chúng tôi sẽ chỉ cung cấp dữ liệu cá nhân cho các bên thứ ba
                        có các biện pháp kiểm soát an toàn đáp ứng các tiêu chuẩn do chúng tôi đặt ra.
                    </p>
                    <p>
                        Trong trường hợp xảy ra sự cố như rò rỉ dữ liệu cá nhân, Online Auction sẽ
                        báo cáo cơ quan quản lý theo quy định của pháp luật và hướng dẫn,
                        đồng thời theo hướng dẫn của cơ quan quản lý, cần thực hiện các biện pháp
                        để ngăn chặn sự các trường hợp tương tự và ngăn ngừa tái diễn.
                        Chúng tôi sẽ cố gắng hết sức để đáp ứng cho bạn.
                    </p>
                </li>
            </ol>


        </div>

        <p class="has-text-right is-italic"> <strong>(Thành lập ngày 09/01/2022)</strong></div>

    </div>
</section>
</body>
</html>