{{#section 'css_sellProduct'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js_sellProduct'}}
    <script src="https://cdn.tiny.cloud/1/k24nz30cf3gjs50204ex4s6pi5wyll3m2qyffv64zathzntm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" referrerpolicy="origin"></script>
    <script>
       
        $('#frmUpload').on('submit',function(e){
            e.preventDefault();
            const name = $('#txtName').val();
            const subCatID = $('#subCatName').find('option:selected').attr("name");
            const Price = $('#txtPrice').val();
            const FullDesc = $('#txtFullDesc').val();
            $('#CatIDNext').val(subCatID);
            if(name && Price   && subCatID
                    && FullDesc )
                $('#frmUpload').off('submit').submit();
            else {
                $('.modal_verify').removeClass("is-active")
                if ($('.modal_Invalid').hasClass("is-active")) {
                    $('.modal_Invalid').removeClass("is-active")
                } else {
                    $('.modal_Invalid').toggleClass("is-active")
                }
            }
        });
        $('#datetimepicker').datetimepicker({
            format:'d/m/Y H:i',
            mask:true,
        });
    </script>

    <script>
       tinymce.init({
  selector: '#txtFullDesc',
  height: 300,
  menubar: false,
  resize: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount',
  ],
  toolbar:
    'undo redo | formatselect | ' +
    'bold italic backcolor | alignleft aligncenter ' +
    'alignright alignjustify | bullist numlist outdent indent | ' +
    'removeformat | help | fullscreen',
});
    </script>

    <script>
        function modal_verify() {
            if ($('.modal_verify').hasClass("is-active")) {
                $('.modal_verify').removeClass("is-active")
            } else {
                $('.modal_verify').toggleClass("is-active")
            }
        }
        function close_modal() {
            $('.modal_verify').removeClass("is-active")
        }
    </script>

{{/section}}

<form action="/admin/upload" method="post" id="frmUpload" >
    <div class="has-text-centered">
        <div class="column is-5 is-inline-block box my-5">


            <div
                    class="card-header-title is-inline-block is-size-4-tablet is-size-4-mobile">ĐĂNG BÁN SẢN PHẨM
            </div>

            <div class="field has-text-left">
                <label class="label">Tên sản phẩm</label>
                <div class="control"  >
                    <input class="input" type="text" placeholder="Nhập tên sản phẩm" id="txtName" name="ProName" />
                </div>
            </div>

        

            <div class="field has-text-left">
                <div class="control has-icons-left">
                    <label class="label">Danh mục</label>

                    <div class="select is-fullwidth is-primary">
                        <select id="subCatName">
                            {{#each this.listCategoryNext}}
                                <option name={{CatID}}>
                                    {{CatName}}
                                </option>
                            {{/each}}
                        </select>

                        <input type="number" id="CatIDNext"  name="CatIDChild" class="is-hidden"/>

                        <span class="icon is-left">
                             <i class="fa fa-list-ul"></i>
                        </span>
                    </div>

                </div>

                <div class="field has-text-left">
                    <label class="label">Giá </label>
                    <div class="control has-icons-left has-icons-right" >
                        <input
                                class="input is-info"
                                type="number"
                                placeholder="Nhập giá mua ngay"
                                id="txtPrice"
                                name="Price"
                        />

                        <span class="icon is-small is-left">
                            <i class="fa fa-money"></i>
                        </span>

                        <span class="icon is-small is-right"> </span>
                    </div>
                </div>


                <hr class="has-background-black">


                <div class="field has-text-left">

                    <label class="label" for="txtFullDesc">Mô tả sản phẩm</label>

                    <div class="control">
                        <textarea
                                id="txtFullDesc"
                                name="Description"
                                placeholder="Nhập ở đây">
                        </textarea>
                    </div>
                </div>

    


                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <a onclick="modal_verify();" class="button is-primary">
                            <i class="fa fa-upload mr-2"></i>
                            Đăng bán
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal_verify">
        <div class="modal-background"></div>
        <div class="modal-card has-text-centered">
            <header class="modal-card-head">
                <p class="modal-card-title">Xác nhận</p>
                <button class="delete close_modal" aria-label="close" onclick="close_modal();"></button>
            </header>
            <section class="modal-card-body">
                <p>Bạn muốn đăng bán sản phẩm này?
                </p>
            </section>
            <footer class="modal-card-foot is-justify-content-center">
                <a class="button is-success "
                   href="javascript: $('#frmUpload').submit();">Đồng ý</a>
                <a class="button" onclick="close_modal();">Hủy</a>
            </footer>
        </div>
    </div>

    <div class="modal modal_Invalid">
        <div class="modal-background"></div>
        <div class="modal-content">
            <section class="modal-card-body notification is-warning is-large">
                <p>
                    <strong>Vui lòng điền đầy đủ thông tin</strong>
                </p>

                <button class="delete is-large" aria-label="close"></button>

            </section>
        </div>
    </div>

</form>